.container {
  font-family: sans-serif !important;
}
.card {
  border-radius: 10px;
  color: whitesmoke;
  background: rgba(60, 46, 2, 0.738);
  backdrop-filter: blur(10px);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
  box-shadow: 0 0 30px rgba(200, 4, 4, 0.8);
  transform: scale(1.05);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-text {
  margin-bottom: 10px;
}

.btn {
  margin: 5px;
}
.heading {
  font-size: 50px;
  font-weight: bold;
  background: -webkit-linear-gradient(#e2900d, rgb(255, 9, 9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0 0 10px rgba(213, 14, 14, 0.8);
  animation: glow 1.5s ease-in-out infinite;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(246, 19, 19, 0.8);
  }
  50% {
    text-shadow: 0 0 20px #e20dc6;
  }
  100% {
    text-shadow: 0 0 10px #e2890d;
  }
}

.text-yellow {
  color: gold;
}
.bord {
  border: solid #e20d0d;
  color: #e2890d;
}
/* .delete-button {
  background: linear-gradient(rgb(231, 217, 217), rgb(255, 204, 0));
  cursor: pointer;
  border-radius: 20%;
  height: 40px;
  font-weight: bold;
}
.delete-button:hover {
  background: linear-gradient(rgba(255, 64, 0, 0.908), rgb(197, 197, 223));
} */
