.form-expenseEdit {
  background: linear-gradient(-45deg, #eb663d, #e73c7e, #066851);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border-radius: 20px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.expenseEdit-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.descriptionEdit-expense {
  height: 20vh;
}
